**/noscm*/**
**/[Bb]uild/**
**/dist/**
**/nbproject/**
**/[Mm]akefile
**/.dep.inc
**/*.obj
**/*.a
**/*.exe
**/*.h5
**/*.hdf5
**/*.nc
**/*~
**/*.cbp
**/*.depend
**/.layout
**/*.out
.metadata/**
**/bin/**
**/tmp/**
**/*-build-*/**
tmp/**/*
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.classpath
**/.settings/
**/.loadpath

# Visal Studio
**/[Gg]enerated[Ff]ile*/**
**/ipch/**
**/x64/**
**/.svn/**
**/*.sdf
**/*.sln
**/*.suo
**/*.vcxproj
**/*.filters

# External tool builders
**/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
# **/*.launch

# CDT-specific
# **/.cproject
# **/.project

# PDT-specific
**/.buildpath

#ignore thumbnails created by windows
**/[Tt]humbs.db
**/[Bb]in/**
**/[Dd]ebug*/**
**/[Pp]ofile/**
**/[Cc]overage/**
**/*.lib
**/*.pdb
**/*.sbr
**/obj/**
**/[Rr]elease*/**
**/_ReSharper*/**
**/[Tt]est[Rr]esult*/**

